@media screen and (min-width: 768px) and (max-width: 992px) {

    body,html {
        background-color: white;
    }

    i#burguer {
        display: none;
    }

    header {
        display: none;
    }

    main {
        margin-top: 0;
    }

    #home {
        height: 60vh;
        position: relative;
        z-index: 1;
        justify-content: left;
    }
    
    #home::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../imagens/background2.jpg) no-repeat  right ;
        background-size: cover;
        opacity: 0.6;
        z-index: -1;
    }

    .txt {
        margin-left: 30px;
    }

    .txt > h1 {
    color: rgba(37, 37, 37, 0.76);
    }
    
/*------Sobre-----*/

    .title > h2{
        font-size: 2.3em;
    }

    .about {
        display: flex;
        flex: wrap;
        flex-direction: column;
        justify-content: space-between;
    }

    .about > div.paragrafo {
        border-radius: 10px 0px 0px 10px;
    }

    .imagem {
        display: flex;
        margin-top: 0px;
        margin-left: 2px;
    }
    
    .about > div.imagem > img { 
        margin-right: 10px;
    }


    #servicos {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: 20px 20px;
        margin: 0 auto;
        color: rgba(37, 37, 37, 0.952);
    }

    .title-serv {
        font-size: 2.5em;
    }

    .serv { 
        flex: 1 1 300px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    #rodape {
        flex-flow: row nowrap;
        justify-content:space-between ;
    }

    .logo-rodape {
        justify-content: left;
    }

    .informacoes {
        margin-right: 30px;
    }

    #contato {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 0px;
    }


}

/*---Desktop---*/

@media screen and (min-width: 992px) {

    body,html {
        background-color: white;
    }

    i#burguer {
        display: none;
    }

    header {
        display: none;
    }

    main {
        border-radius: 10px;
    }

    #home {
        height: 60vh;
        position: relative;
        z-index: 1;
        justify-content: left;
    }
    #home::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../imagens/background2.jpg) no-repeat  right ;
        background-size: cover;
        opacity: 0.6;
        z-index: -1;
    }

    .txt {
        margin-left: 30px;
    }

    .about {
    display: flex;
    flex-flow: row nowrap;
    }

    .about > div.paragrafo {
        border-radius: 10px 0px 0px 10px;
    }

    .imagem {
        margin-right: 10px;
        margin-top: 0px;
        margin-left: 2px;
    }
    
    .imagem > img { 
        margin-right: 10px;
    }


    #servicos {
        display: flex;
        flex: wrap;
        flex-direction: row;
        align-items: center;
        padding: 20px 20px;
        margin: 0 auto;
        color: rgba(37, 37, 37, 0.952);
    }

    .serv { 
        flex: 1 1 300px;
        margin: 0 auto;
    }

    #rodape {
        flex-flow: row nowrap;
        justify-content:space-between ;
    }

    .logo-rodape {
        justify-content: left;
    }

    .informacoes {
        margin-right: 30px;
    }

    #contato {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 0px;
    }
}