@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82) ;
    }

}

@media screen and (min-width: 992px) {
    
    #menu > i {
        display:none;
    }

    #menuNav {
        display: inline-block;
        flex-direction: row;
        left: 80%;
        top:-80%;
        width: 20%;
        display: flex;
        align-items: center;
        background-color: rgb(241, 241, 241);
        border: 1px solid red;
    }

    
    nav > li {
        width: 100%;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        text-align: center;
    }

    #servicos {
        display: flex;
        flex: wrap;
        flex-direction: row;
        align-items: center;
        padding: 20px 20px;
        color: rgba(37, 37, 37, 0.952);
        text-align: center;
        
    }

    .serv { 
        margin-right: 50px;
        overflow: hidden;
        interpol
    }
    
    .serv:hover {
        height: auto;
    }
}