@media screen and (min-width: 768px) and (max-width: 992px) {

    i#burguer {
        display: none;
    }

    #menuNav {
        display: block;
        position: absolute;
        top: -75px;
        background-color: transparent;
        padding-right: 20px;
    }

    nav > ul {
        display: inline-block;
        display: flex;
        flex-direction: row; 
        justify-content:right;
    }

    main > h2 {
    margin: 30px;
    text-align: left;
    }

    #servicos {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: 20px 20px;
        margin: 0 auto;
        color: rgba(37, 37, 37, 0.952);
    }

    .serv { 
        flex: 1 1 300px;
        margin: 0 auto;
        overflow: hidden;
        transition: height .5s;
        interpolate-size: allow-keywords;
    }
    
    .serv:hover {
        height: auto;
    }


    .about {
        display: flex;
        flex: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .about > div.paragrafo {
        border-radius: 10px 0px 0px 10px;
    }

    .about > div.imagem {
        margin-top: 0px;
        margin-left: 5px;
    }
    
    .about > div.imagem > img { 
        border-radius: 0px 10px 10px 0px ;
    }

}

/*---Desktop---*/

@media screen and (min-width: 992px) {

    i#burguer {
        display: none;
    }

    #menuNav {
        display: block;
        position: absolute;
        top: -75px;
        background-color: transparent;
        padding-right: 20px;
    }

    nav > ul {
        display: inline-block;
        display: flex;
        flex-direction: row; 
        justify-content:right;
    }

    main > h2 {
    margin: 30px;
    text-align: left;
    }

    #servicos {
        display: flex;
        flex: wrap;
        flex-direction: row;
        align-items: center;
        padding: 20px 20px;
        margin: 0 auto;
        color: rgba(37, 37, 37, 0.952);
    }

    .serv { 
        flex: 1 1 300px;
        margin: 0 auto;
        overflow: hidden;
        transition: height .5s;
        interpolate-size: allow-keywords;
    }
    
    .serv:hover {
        height: auto;
    }

    .about {
        display: flex;
        flex: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .about > div.paragrafo {
        border-radius: 10px 0px 0px 10px;
    }

    .about > div.imagem {
        margin-top: 0px;
        margin-left: 5px;
    }
    
    .about > div.imagem > img { 
        border-radius: 0px 10px 10px 0px ;
    }
}