@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

body,html {
    width: 100%;
    height: 100vh;
    background-color: rgb(241, 241, 241);
}

/*---Cabecalho---*/

header {
    height: 90px;
    width: 100%;
    padding: 0px 10px;
    top: 0%;
    left: 0;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 241, 241);
}
#menu > i {
    display: flex;
    align-items: top;
    justify-content: center;
    cursor: pointer;
    color: rgba(37, 37, 37, 0.952);
}

.logo {
    display: flex;
    align-items: center;
}
.logo > a > img {
    width: 75px;
}

.logo > a > p{
    color: rgba(37, 37, 37, 0.952);
    letter-spacing: .5px;
}

.logo > a > p > span {
    font-size: 11px;
    color: rgb(68, 68, 68);
}

.logo > a {
    text-decoration: none;
}

nav {
    position: absolute;
    left: 0%;
    top: 0%;
    margin-top: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(241, 241, 241);
}

nav > ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
}

nav > ul > li {
    margin-bottom: 15px;
    padding: 8px;
}

nav > ul > li:hover {
    background-color: #61a49d;
    color: white;
    border-radius: 5px;
    transition: ease-in-out .5s;
}

nav > ul > li > a {
    text-decoration: none;
    color: rgba(37, 37, 37, 0.952);
}

nav > ul > li > a:hover{
    color: white;

}
#menuNav {
    display: none;
    flex-direction: column;
}



/*---Fim cabecalho---*/

/*---Principal--*/

main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}

main > h2 {
    padding-top: 20px;
    margin: 30px;
    text-align: center;
}

#home {
    height: 80vh;
    padding: 0px 20px;
    display: flex;
    flex: nowrap;
    align-items:center;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    text-align: center;
    position: relative;
    z-index: 1;
}

#home::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../imagens/background2.jpg) no-repeat  left ;
    background-size: cover;
    opacity: 0.6;
    z-index: -1;
}

.txt > h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: rgba(37, 37, 37, 0.856);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26);
}

.txt > p {
    font-size: 1.4em;
    margin-bottom: 35px;
    color:  rgb(51, 51, 51);
}

.txt > a {
    font-size: 1.1em;
}


.agendar {
    position: relative;
    background-color: #61a49d;
    padding: 15px 50px;
    margin-bottom: 30px;
    border-radius: 100px;
    color: white;
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);
    transition: transform .4s ease;
}

.agendar:hover {
    background-color: white;
    color: #61a49d;
    transform: scale(90%);
}

#sobre {
    padding: 0px 20px;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: space-between;
    }


.title {
    display: flex;
    align-items: center;
    color: black;
    padding-top: 30px;
    margin-bottom: 10px;
}

.title > h2 {
    font-size: 1.8em;
}

.title > img {
    width: 70px;
    margin-right: 10px;
}

.paragrafo > p {
    color: #555555;
    line-height: 1.7em;
    margin-bottom: 10px;
}

.imagem {
    margin-top: 10px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

.imagem > img { 
    width: 100%;
    height:200px;
    margin-bottom: 20px;
    object-fit: cover;
    background-color: white;
    border-radius: 15px;
} 

/*------Serviços--------*/

#servicos {
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    color: rgba(37, 37, 37, 0.952);
    text-align: center;
}

.title-serv {
    color: #61a49d;
    padding-bottom: 20px;
}

h2 {
    font-size: 1.8em;
}

.serv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.363);
    transition: transform .4s ease;
}

.serv:hover {
    transform: scale(103%);
}

.serv > h3 {
    position: relative;
    margin-bottom: 20px;
    color: white;
    font-size: 1.7em;
}


.fundo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 80%;
}

/*-----Contato-----*/

#contato {
    padding: 0px 20px;
    transition: transform .4s ease;
}

#contato > div > a >img:hover{
    transform: scale(105%);
}

.socials {
    text-align: center;
}

.title-contato {
    font-size: 2.4em;
    font-weight: bold;
    color: #61a49d;
}

#contato > p {
    font-size: 1.2em;
    text-align:center;
    color: rgba(37, 37, 37, 0.952);
    margin-bottom: 20px;
}

.redes {
    width: 200px;
    margin-bottom: 10px;
}

.redes-2 {
    width:50px;
    margin-bottom: 10px;
}

/*-----Rodape-----*/

footer {
    margin-top: 20px;
    color: rgba(37, 37, 37, 0.952);
    background-color: black;
    text-align: center;
}

#rodape {
    display: flex;
    flex-flow: column wrap;
    background-color: black;
    text-align: left;
    color: white;
    padding-bottom: 30px;
}

#contato {
        padding-left: 0px;
    }

.logo-rodape {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-rodape > a > img  {
    width: 200px;
    
} 

.informacoes {
    color: white;
    margin-left: 20px;
    
}

.informacoes > h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    color:#61a49d ;
}

.informacoes > p {
    margin-bottom: 20px;
    font-size: 1.2em;
} 

.informacoes > ul {
    list-style-type: none;
    
}
.informacoes > ul > li {
    margin-bottom: 20px;
}

.informacoes > ul > li > a {
    font-size: 1.2em;
    cursor: pointer;
    color: white;
}

.rodape2 {
    padding:50px 0px 10px 0px;
    text-align: center;
    background-color: rgb(241, 241, 241);
}

.rodape2 > p {
    margin-bottom: 30px;
} 